<!-- Header -->
<div id='header'>
    <div class='header__top'>
        <div class='container'>
            <div class='row align-items-center'>
                <div class='col col-6'>
                    <div class='header__top-right'>
                        <span class='header__top-right-text'>Free shipping,
                            30-day return or refund guarantee.
                        </span>
                    </div>
                </div>
                <div class='col col-6'>
                    <div class='header__top-left'>
                        <div class='header__top-links pull-right'>
                            {{#if session.user}}
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{session.user.email}}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#" style="color:#ccc">info</a>
                                    <a class="dropdown-item" href="#" style="color:#ccc">Another action</a>
                                    <a class="dropdown-item" href="/auth/logoutUser" style="color:#ccc">logout</a>
                                </div>
                            </div>
                            {{else}}
                            <a href='#'
                                class='header__top-link--separated text-decoration-none js-show-modal js-signin-btn'>SIGN
                                IN</a>
                            <a href='#' class='text-decoration-none js-show-modal js-signup-btn'>SIGN UP</a>
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='header__main'>
        <div class='container'>
            <div class='row'>
                <div class='col col-3'>
                    <div class='header__logo'>
                        <a href='/'>
                            <img src='client/img/Inlogo/download.png' alt='' />
                        </a>
                    </div>
                </div>
                <div class='col col-6'>
                    <nav class='header__menu'>
                        <ul class='header__menu-list'>
                            <li>
                                <a href='/' class='text-decoration-none'>
                                    <span class=''>Home</span>
                                </a>
                            </li>
                            <li>
                                <a href='/products' class='text-decoration-none'>
                                    <span class=''>Shop</span>
                                </a>
                            </li>
                            <li>
                                <a href='#' class='text-decoration-none'>
                                    <span class=''>Pages</span>
                                </a>
                            </li>
                            <li>
                                <a href='#' class='text-decoration-none'>
                                    <span class=''>Blog</span>
                                </a>
                            </li>
                            <li>
                                <a href='#' class='text-decoration-none'>
                                    <span class=''>Contacts</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class='col col-3'>
                    <div class='header__option pull-right'>
                        <a href='#' class='header__option-item header__option-search'>
                            <i class='fas fa-search header__option-icon'></i>
                        </a>
                        <a href='#' class='header__option-item header__option-cart js-show-modal js-modal-cart'>
                            {{#if session.cart}}

                            <span class='num-product-in-cart'>{{session.cart.totalQty}}</span>
                            {{/if}}
                            <i class='fas fa-shopping-cart header__option-icon' aria-hidden='true'></i>
                            <span class='cart-count'></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='modal js-modal'>
        <div class='modal__overlay js-hidden-modal'></div>
        <div class='modal__body js-modal__body'>
            <!-- Register form -->
            <div class='auth-form form-signup'>
                <form action='/auth/register' method='POST'>
                    <div class='auth-form__container'>

                        <div class='auth-form__header'>
                            <h3 class='auth-form__heading auth-form__signup-btn'>Đăng Ký</h3>
                            <span class='auth-form__switch-btn auth-form__signin-btn'>Đăng Nhập</span>
                        </div>

                        <div class='auth-form_form'>
                            <div class='auth-form__group'>
                                <input type='text' class='auth-form__input' placeholder='Email của bạn' name='email' />
                            </div>
                            <div class='auth-form__group'>
                                <input type='password' class='auth-form__input' placeholder='Mật khẩu của bạn'
                                    name='password' />
                            </div>
                            <div class='auth-form__group'>
                                <input type='password' class='auth-form__input'
                                    placeholder='Nhập lại Mật khẩu của bạn' />
                            </div>
                        </div>

                        <div class='auth-form__aside'>

                        </div>

                        <div class='auth-form__controls'>
                            <button class='btn btn--normal mr-8 js-hidden-modal'>TRỞ LẠI</button>
                            <button type='submit' class='btn btn--primary'>ĐĂNG
                                KÝ</button>
                        </div>

                    </div>

                    <div class='auth-form__socials'>
                        <a href='#' class='btn btn--size-s btn--with-icon auth-form__socials-fb'>
                            <i class='auth-form__socials-icon fab fa-facebook-square'></i>
                            <span class='auth-form__socials-title'>
                                Kết nối với Facebook
                            </span>
                        </a>
                        <a href='#' class='btn btn--size-s btn--with-icon auth-form__socials-gg'>
                            <i class='auth-form__socials-icon fab fa-google'></i>
                            <span class='auth-form__socials-title'>
                                Kết nối với Google
                            </span>
                        </a>
                    </div>
                </form>
            </div>

            <!-- Login form -->
            <div class='auth-form form-signin'>
                <form action='/auth/login' method='POST'>
                    <div class='auth-form__container'>

                        <div class='auth-form__header'>
                            <h3 class='auth-form__heading auth-form__signin-btn'>Đăng Nhập</h3>
                            <span class='auth-form__switch-btn auth-form__signup-btn'>Đăng Ký</span>
                        </div>

                        <div class='auth-form_form'>
                            <div class='auth-form__group'>
                                <input type='text' class='auth-form__input' placeholder='Email của bạn' name='email' />
                            </div>
                            <div class='auth-form__group'>
                                <input type='password' class='auth-form__input' placeholder='Mật khẩu của bạn'
                                    name='password' />
                            </div>
                        </div>

                        <div class='auth-form__aside'>
                            <div class='auth-form__help'>
                                <a href='' class='auth-form__help-link help-forgot'>Quên mật khẩu</a>
                                <span class='auth-form__help-separate'></span>
                                <a href='' class='auth-form__help-link'>Cần trợ
                                    giúp?</a>
                            </div>
                        </div>

                        <div class='auth-form__controls'>
                            <button class='btn btn--normal mr-8 js-hidden-modal'>TRỞ LẠI</button>
                            <button type='submit' class='btn btn--primary'>ĐĂNG
                                NHẬP</button>
                        </div>

                    </div>

                    <div class='auth-form__socials'>
                        <a href='#' class='btn btn--size-s btn--with-icon auth-form__socials-fb mr-4'>
                            <i class='auth-form__socials-icon fab fa-facebook-square'></i>
                            <span class='auth-form__socials-title'>
                                Đăng nhập với Facebook
                            </span>
                        </a>
                        <a href='#' class='btn btn--size-s btn--with-icon auth-form__socials-gg ml-4'>
                            <i class='auth-form__socials-icon fab fa-google'></i>
                            <span class='auth-form__socials-title'>
                                Đăng nhập với Google
                            </span>
                        </a>
                    </div>
                </form>
            </div>

            <!-- Modal quickView -->
            <div class='modal-quick-view' style='width:1140px'>
                <div class='container'>
                    <div class='quick-view-container bg-white'>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <div class='quick-view-header'>
                                    <div class='quick-view-close js-hidden-modal'>
                                        <p class=''>&times;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-lg-12'>
                                <div class='product__details d-flex'>
                                    <div class='col-lg-7'>
                                        <div class='product__qv-img' style='max-width:100%'>
                                            <div class='container'>
                                                <div class='row'>
                                                    <div class='col-lg-3'>
                                                        <ul class='nav nav-tabs img-tabs img-qv'>
                                                        </ul>
                                                    </div>

                                                    <div class='col-lg-9'>
                                                        <div class='tab-content img-qv'>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='col-lg-5'>
                                        <form action='/cart/add' class='form-add-to-cart' method='POST'>
                                            <div class='product__qv-info' style='max-width:100%'>
                                                <div class='product__qv-text'>
                                                    <h4 class='product-name pb-2' id='product-name'>Trang phucj mua dong
                                                        nam
                                                        2022 voi da thatvcd</h4>
                                                    <span class='product-price' name="price" id='product-price'
                                                        value="">$200</span>
                                                    <p class='product-desc' id='product-desc'>
                                                        Nulla eget sem vitae
                                                        eros pharetra viverra.
                                                        Nam vitae luctus ligula.
                                                        Mauris consequat ornare
                                                        feugiat.
                                                    </p>
                                                </div>

                                                <div class='product-options-list'>
                                                    <div class='product-option-size d-flex form-group'>
                                                        <label for='product-size' class='product-size'>Size</label>
                                                        <select name='size' id='product-size'
                                                            class='form-control select2-size select-size'>
                                                            <option selected='selected'
                                                                style='padding:0 10px;font-size:16px;'>Choose a size
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class='product-option-color d-flex form-group mt-4'>
                                                        <label for='product-color' class='product-color'>Color</label>
                                                        <select name='color' id='product-color'
                                                            class='form-control select2-color select-color'>
                                                            <option selected='selected'
                                                                style='padding:0 10px;font-size:16px;'>Choose a color
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class='product-qv-btn'>
                                                    <div class='quantity-item wrap-num-product'>
                                                        <div class='pro-qty-1'>
                                                            {{! <span class="fa fa-angle-left "></span> }}
                                                            <div class='inc qtybtn-qv btn-num-product-up'>
                                                                <i class='fas fa-plus'></i>
                                                            </div>
                                                            <input class='num-product' type='text' value='1'
                                                                name='qty' />
                                                            <div class='dec qtybtn-qv btn-num-product-down'>
                                                                <i class='fas fa-minus'></i>
                                                            </div>
                                                            {{! <span class="fa fa-angle-right "></span> }}
                                                        </div>
                                                    </div>
                                                    <button type='submit' class='add-cart-btn add-link'>
                                                        Add To Cart
                                                    </button>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- Modal header cart -->
            <div class='header-cart modal-cart'>
                <div class='header-cart-title'>
                    <h3>YOUR CART</h3>
                    <div class='js-hidden-modal'>
                        <i class='close-cart fas fa-times'></i>
                    </div>
                </div>
                <div class='header-cart-content'>
                    <div class='cart-list'>
                        {{#if session.products}}

                        {{#each session.products}}
                        <div class='cart-item'>
                            <div class='cart-item-img'>
                                <img src='{{this.item.images.0.url}}' alt='img' />
                            </div>
                            <div class='cart-item-text'>
                                <a href='#' class='item-name'>{{this.item.name}}</a>
                                <div class='cart-item-info'>
                                    <span class='item-amount'>{{this.quantity}}</span>
                                    x
                                    <span class='item-price'>${{this.item.price}}</span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <div class="empty-cart" style="width:100%;height:100%;">
                            <img src="/client/img/Inlogo/cart-not.png" alt="" style="width:100%;height:100%;">

                        </div>
                        {{/if}}

                    </div>

                </div>
                {{#if session.cart}}
                <div class='header-cart-total'>
                    <h4 class='cart-total-qv'>ToTal: ${{session.cart.totalPrice}}</h4>
                    <div class='view-cart-btn'>
                        <a href='/cart' style='color:#fff;'>VIEW CART</a>
                    </div>
                </div>
                {{else}}
                <p style="text-align: center;">Chưa có sản phẩm</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>