<section class="section__breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="breadcrumb-title">
                    Product Details
                </h4>
                <div class="breadcrumb__links">
                    <a href="/products">Shop</a>
                    <span>{{product.name}}</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product__details">
    <div class="product__detail-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs img-tabs">
                        {{#each product.images}}
                        {{#with product.images.[0]}}
                        <li class="tab-item active">
                            <a href="#tabs-{{this.index}}" class="tab-link">
                                <div class="product-thumb-item set-bg" data-setbg="{{this.url}}"
                                    style="background-image: url()">
                                </div>
                            </a>
                        </li>
                        {{/with}}
                        <li class="tab-item active">
                            <a href="#tabs-{{this.index}}" class="tab-link">
                                <div class="product-thumb-item set-bg" data-setbg="{{this.url}}"
                                    style="background-image: url()">
                                </div>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="col-lg-6">
                    <div class="tab-content">
                        {{#each product.images}}
                        <div class="tab-pane" id="tabs-{{this.index}}">
                            <div class="product-img-item">
                                <img src="{{this.url}}" alt="">
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product__detail-content">
        <div class="container">
            <form action="/cart/add/{{product._id}}" class="form-add-to-cart" method="POST">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__detail-info">
                            <h4 class="detail-name">
                                {{product.name}}
                            </h4>
                            <h3 class="detail-price">${{product.price}}</h3>
                            <p class="detail-desc">{{product.desc}}</p>
                            </p>
                        </div>
                        <div class="row product__detail-options">
                            <div class="col-lg-6 detail-size-option">
                                <span class="title-option">Size: </span>
                                <div class="option-item size">
                                    {{#each product.sizes}}
                                    <label for="{{this}}" class="label-size">
                                        {{this}}
                                        <input type="radio" name="size" id="{{this}}" value="{{this}}">
                                    </label>
                                    {{/each}}

                                </div>
                            </div>
                            <div class="col-lg-6 detail-color-option">
                                <span class="title-option">Color: </span>
                                <div class="option-item color">
                                    {{#each product.colors}}
                                    <label for="{{this}}" class="label-color">
                                        <input type="radio" name="color" id="{{this}}" value="{{this}}">
                                    </label>
                                    {{/each}}

                                </div>
                            </div>
                            <div class="col-lg-12 detail-cart-option d-flex justify-content-center align-items-center">
                                <div class="quantity">
                                    <input type="number" name="qty" id="qty" value="1">
                                </div>
                                <div class="m-2"></div>
                                <button type="submit" class="add-to-cart js-addcart-detail">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Related Product</h3>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-3 col-md-6 col-sm-6 ">
                <div class="product__item">
                    <div class="product__item-img">
                        <img src="" alt="product-1">
                        <a href="#" class="quick-view-btn js-modal-quick-view js-addcart-detail">Quick
                            view</a>
                    </div>
                    <div class="product__item-text">
                        <div class="text-header">
                            <div class="product-title">
                                <h6>Piqué Biker Jacket
                                </h6>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>$67.24</h3>
                        </div>
                        <div class="product-color-select">
                            <label class="" for="p1-c1">
                                <input type="radio" class="color-input" id="p1-c1">
                            </label>
                            <label class="black" for="p1-c2">
                                <input type="radio" class="color-input" id="p1-c2">
                            </label>
                            <label class="grey" for="p1-c3">
                                <input type="radio" class="color-input" id="p1-c3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item-img">
                        <img src="" alt="product-1">
                        <a href="#" class="quick-view-btn js-modal-quick-view js-addcart-detail">Quick
                            view</a>
                    </div>
                    <div class="product__item-text">
                        <div class="text-header">
                            <div class="product-title">
                                <h6>Piqué Biker Jacket
                                </h6>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>$67.24</h3>
                        </div>
                        <div class="product-color-select">
                            <label class="" for="p2-c1">
                                <input type="radio" class="color-input" id="p2-c1">
                            </label>
                            <label class="black" for="p2-c2">
                                <input type="radio" class="color-input" id="p2-c2">
                            </label>
                            <label class="grey" for="p2-c3">
                                <input type="radio" class="color-input" id="p2-c3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item-img">
                        <img src="" alt="product-1">
                        <a href="#" class="quick-view-btn js-modal-quick-view js-addcart-detail">Quick
                            view</a>
                    </div>
                    <div class="product__item-text">
                        <div class="text-header">
                            <div class="product-title">
                                <h6>Piqué Biker Jacket
                                </h6>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>$67.24</h3>
                        </div>
                        <div class="product-color-select">
                            <label class="" for="p3-c1">
                                <input type="radio" class="color-input" id="p3-c1">
                            </label>
                            <label class="black" for="p3-c2">
                                <input type="radio" class="color-input" id="p3-c2">
                            </label>
                            <label class="grey" for="p3-c3">
                                <input type="radio" class="color-input" id="p3-c3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item-img">
                        <img src="" alt="product-1">
                        <a href="#" class="quick-view-btn js-modal-quick-view js-addcart-detail">Quick
                            view</a>
                    </div>
                    <div class="product__item-text">
                        <div class="text-header">
                            <div class="product-title">
                                <h6>Piqué Biker Jacket
                                </h6>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>$67.24</h3>
                        </div>
                        <div class="product-color-select">
                            <label class="" for="p4-c1">
                                <input type="radio" class="color-input" id="p4-c1">
                            </label>
                            <label class="black" for="p4-c2">
                                <input type="radio" class="color-input" id="p4-c2">
                            </label>
                            <label class="grey" for="p4-c3">
                                <input type="radio" class="color-input" id="p4-c3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item-img">
                        <img src="" alt="product-1">
                        <a href="#" class="quick-view-btn js-modal-quick-view js-addcart-detail">Quick
                            view</a>
                    </div>
                    <div class="product__item-text">
                        <div class="text-header">
                            <div class="product-title">
                                <h6>Piqué Biker Jacket
                                </h6>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>$67.24</h3>
                        </div>
                        <div class="product-color-select">
                            <label class="" for="p5-c1">
                                <input type="radio" class="color-input" id="p5-c1">
                            </label>
                            <label class="black" for="p5-c2">
                                <input type="radio" class="color-input" id="p5-c2">
                            </label>
                            <label class="grey" for="p5-c3">
                                <input type="radio" class="color-input" id="p5-c3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item-img">
                        <img src="" alt="product-1">
                        <a href="#" class="quick-view-btn js-modal-quick-view js-addcart-detail">Quick
                            view</a>
                    </div>
                    <div class="product__item-text">
                        <div class="text-header">
                            <div class="product-title">
                                <h6>Piqué Biker Jacket
                                </h6>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>$67.24</h3>
                        </div>
                        <div class="product-color-select">
                            <label class="" for="p6-c1">
                                <input type="radio" class="color-input" id="p6-c1">
                            </label>
                            <label class="black" for="p6-c2">
                                <input type="radio" class="color-input" id="p6-c2">
                            </label>
                            <label class="grey" for="p6-c3">
                                <input type="radio" class="color-input" id="p6-c3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item-img">
                        <img src="" alt="product-1">
                        <a href="#" class="quick-view-btn js-modal-quick-view js-addcart-detail">Quick
                            view</a>
                    </div>
                    <div class="product__item-text">
                        <div class="text-header">
                            <div class="product-title">
                                <h6>Piqué Biker Jacket
                                </h6>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>$67.24</h3>
                        </div>
                        <div class="product-color-select">
                            <label class="" for="p7-c1">
                                <input type="radio" class="color-input" id="p7-c1">
                            </label>
                            <label class="black" for="p7-c2">
                                <input type="radio" class="color-input" id="p7-c2">
                            </label>
                            <label class="grey" for="p7-c3">
                                <input type="radio" class="color-input" id="p7-c3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item-img">
                        <img src="" alt="product-1">
                        <a href="#" class="quick-view-btn js-modal-quick-view js-addcart-detail">Quick
                            view</a>
                    </div>
                    <div class="product__item-text">
                        <div class="text-header">
                            <div class="product-title">
                                <h6>Piqué Biker Jacket
                                </h6>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3>$67.24</h3>
                        </div>
                        <div class="product-color-select">
                            <label class="" for="p8-c1">
                                <input type="radio" class="color-input" id="p8-c1">
                            </label>
                            <label class="" for="p8-c2">
                                <input type="radio" class="color-input" id="p8-c2">
                            </label>
                            <label class="" for="p8-c3">
                                <input type="radio" class="color-input" id="p8-c3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>