<section class="section__breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="breadcrumb-title">
                    Shop
                </h4>
                <div class="breadcrumb__links">
                    <a href="#">Home
                        <!-- <i class="fas fa-chevron-right"></i> -->
                    </a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section__shop-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar-search">
                        <form action="" method="get"class="shop__form-search">
                            <input type="text" id="input_keyword" name="keyword" placeholder="Search...">
                            <button type="submit" id="submit_keyword" class="button-submit px-4">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <div class="shop__sidebar-option">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <a class=" text-left" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        CATEGORIES
                                        <i class="fas fa-chevron-down float-right"></i>
                                    </a>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar-category shop__sidebar-scroll">
                                            <ul class="shop-scroll">
                                                {{#if categories}}
                                                {{#each categories}}
                                                    <li><a href="#">{{this.name}}</a></li>
                                                {{/each}}
                                                {{else}}
                                                <li><a href="#">Men</a></li>
                                                <li><a href="#">Women</a></li>
                                                <li><a href="#">Bags</a></li>
                                                <li><a href="#">Clothing</a></li>
                                                <li><a href="#">Shoes</a></li>
                                                <li><a href="#">Accessories</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Kidsa</a></li>
                                                {{/if}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <a class=" text-left button" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        FILTER PRICE
                                        <i class="fas fa-chevron-down float-right"></i>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar-price shop__sidebar-scroll">
                                            <ul class="shop-scroll">
                                                <li><a href="#">Men</a></li>
                                                <li><a href="#">Women</a></li>
                                                <li><a href="#">Bags</a></li>
                                                <li><a href="#">Clothing</a></li>
                                                <li><a href="#">Shoes</a></li>
                                                <li><a href="#">Accessories</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Kidsa</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <a class=" text-left button" data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">
                                        SIZE
                                        <i class="fas fa-chevron-down float-right"></i>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar-size shop__sidebar-scroll">
                                            <label for="xs" class="label-size">
                                                XS
                                                <input type="radio" name="size" id="xs">
                                            </label>
                                            <label for="sm" class="label-size">
                                                S
                                                <input type="radio" name="size" id="sm">
                                            </label>
                                            <label for="md" class="label-size">
                                                M
                                                <input type="radio" name="size" id="md">
                                            </label>
                                            <label for="xl" class="label-size">
                                                XL
                                                <input type="radio" name="size" id="xl">
                                            </label>
                                            <label for="xxl" class="label-size">
                                                XXL
                                                <input type="radio" name="size" id="xxl">
                                            </label>
                                            <label for="3xl" class="label-size">
                                                3XL
                                                <input type="radio" name="size" id="3xl">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <a class=" text-left button" data-toggle="collapse" data-target="#collapseFour"
                                        aria-expanded="false" aria-controls="collapseFour">
                                        COLOR
                                        <i class="fas fa-chevron-down float-right"></i>
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar-color shop__sidebar-scroll">
                                            <ul class="shop-scroll">
                                                <li><a href="#">Men</a></li>
                                                <li><a href="#">Women</a></li>
                                                <li><a href="#">Bags</a></li>
                                                <li><a href="#">Clothing</a></li>
                                                <li><a href="#">Shoes</a></li>
                                                <li><a href="#">Accessories</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Kids</a></li>
                                                <li><a href="#">Kidsa</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product-options">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product-left">
                                <p>Showing 1–12 of 126 results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product-right">
                                <p class="d-inline-block">Sort by Price:</p>
                                <select style="" name="" id="">
                                    <option value="1">Low To High</option>
                                    <option value="">$0 - $55</option>
                                    <option value="">$55 - $100</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    {{#if products}}

                    {{#each products}}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="set-bg product__item-img" data-setbg="{{this.images.[0].url}}">
                                    <a href="#" class="quick-view-btn js-modal-quick-view js-show-modal"
                                        data-id="{{this._id}}">Quick view</a>
                                </div>

                                <div class="product__item-text">
                                    <div class="text-header">
                                        <a href="products/{{this._id}}"class="product-title">
                                            <h6>{{this.name}}</h6>
                                        </a>
                                    </div>
                                    <div class="product-price">
                                        <h3>${{this.price}}</h3>
                                    </div>
                                    {{!-- <div class="product-color-select">
                                        <a href="/cart/add/{{this._id}}">Add to cart</a>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                    {{/each}}

                    {{/if}}

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop__product-pagination js-shop__product-pagination">
                            {{!-- <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a> --}}

                            {{#if pages}}
                            {{#each pages}}
                            <a class="active mx-2"type="submit" onclick="addUrlParameter('page', {{this}})">{{this}}</a>
                            {{/each}}

                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
