<div class="body-content">

    <div class="container mt-5">
        <form method="POST" action="/admin/product/{{product._id}}/edit?_method=PUT" enctype="multipart/form-data">
            <div class="row">
                {{!-- info product --}}
                <div class="col-lg-12">
                    <a href="/admin/products">Về danh sách sản phẩm</a>
                    <div class="form-content">
                        <div class="sections">
                            <div class="section-title">
                                <h4 class="text">Thông tin cơ bản</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        {{!-- Name --}}
                                        <div class="form-group position-relative">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control input" id="name" placeholder="name"
                                                name="name" value="{{product.name}}" />
                                        </div>
                                        <div class="form-group position-relative">
                                            <label for="price">Price</label>
                                            <input type="text" class="form-control" id="price" placeholder="price"
                                                name="price" value="{{product.price}}" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        {{!-- Category --}}
                                        <div class="form-group position-relative">
                                            <label for="category">Category</label>
                                            <select class="form-control select2-multiple-category" name="categories"
                                                multiple="multiple" id="category">
                                                {{#if catOfProduct}}
                                                {{#each catOfProduct}}
                                                <option data-value="{{this._id}}" class="tab-item active"
                                                    selected="selected" value='{{this._id}}'>
                                                    {{this.name}}</option>
                                                {{/each}}
                                                {{/if}}
                                                {{#if categoryNotSelected}}
                                                {{#each categoryNotSelected}}
                                                <option data-value="{{this._id}}" class="tab-item" value='{{this._id}}'>
                                                    {{this.name}}</option>
                                                {{/each}}
                                                {{/if}}


                                            </select>
                                        </div>
                                        {{!-- Gender --}}
                                        <div class="form-group position-relative">
                                            <label for="gender" class="labelGender">Gender</label>
                                            <select class="form-control select2-multiple-gender" style="width: 100%;"
                                                name="genders" id="gender" multiple="multiple" placeholder="gender">
                                                {{#each product.genders }}
                                                <option value='{{this}}' selected="selected">{{this}}</option>
                                                {{/each}}
                                                {{#each genderNotSelected }}
                                                <option value='{{this}}'>{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sections">
                            <div class="section-title">
                                <h4 class="text">Thông tin chi tiết</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="">
                                            {{!-- Tab Content --}}
                                            <div class="tab-pane active">
                                                <div class="form-group position-relative">
                                                    <label for="select2Size" class="sizeLabel">Size</label>
                                                    <select class="form-control select2-multiple-size" id="select2Size"
                                                        multiple="multiple" name="sizes">
                                                        {{#each product.sizes }}
                                                        <option value='{{this}}' selected="selected">{{this}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        {{!-- End Tab Content --}}
                                    </div>
                                    {{!-- Color --}}
                                    <div class="col-6">
                                        <div class="form-group position-relative">
                                            <label for="color">Color</label>
                                            <select class="form-control select2-multiple-color" name="colors"
                                                multiple="multiple">
                                                {{#each product.colors }}
                                                <option value='{{this}}' selected="selected">{{this}}</option>
                                                {{/each}}
                                                {{#each colorNotSelected }}
                                                <option value='{{this}}'>{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group position-relative">
                                    <label for="description">Description</label>
                                    <textarea type="text" class="form-control" id="description"
                                        placeholder="description" name="description">{{product.description}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="sections">
                            <div class="section-title">
                                <h4>Image Upload</h4>
                            </div>
                            {{!-- <div class="col-lg-12"> --}}
                                <div class="avatar-edit ">


                                    {{#if product.images.[2]}}
                                    {{#each product.images}}
                                    <div class="form-group img-content ">
                                        <input type="file" class="d-none " id="{{this.index}}" accept=".png, .jpg, .jpeg"
                                            name="imageupdate" value="">
                                        <label class="position-relative " for="{{this.index}}" id="preview-{{this.index}}">

                                            <img class="set-bg" src="{{this.url}}" alt="">
                                            <div>{{this.url}}
                                                <span>+</span>
                                            </div>
                                        </label>
                                    </div>
                                    {{/each}}
                                    {{else}}
                                        {{#if product.images.[1]}}
                                           
                                        {{#each product.images}}
                                            
                                            <div class="form-group img-content ">
                                                <input type="file" class="d-none " id="{{this.index}}" accept=".png, .jpg, .jpeg"
                                                    name="imageupdate" value="">
                                                <label class="position-relative " for="{{this.index}}" id="preview-{{this.index}}">

                                                    <img class="set-bg" src="{{this.url}}" alt="">
                                                    <div>{{this.url}}
                                                        <span>+</span>
                                                    </div>
                                                </label>
                                            </div>

                                        {{/each}}
                                        <div class="form-group img-content ">
                                            <input type="file" class="d-none " id="2" accept=".png, .jpg, .jpeg"
                                                name="imageupdate" value="">
                                            <label class="position-relative " for="2" id="preview-2">

                                                <img class="set-bg" src="https://bit.ly/3ubuq5o" alt="">
                                                <div>
                                                    <span>+</span>
                                                </div>
                                            </label>
                                        </div>
                                        {{else}}
                                            {{#if product.images.[0]}}
                                                <div class="form-group img-content ">
                                                    <input type="file" class="d-none " id="{{product.images.[0].index}}" accept=".png, .jpg, .jpeg"
                                                        name="imageupdate" value="">
                                                    <label class="position-relative " for="{{product.images.[0].index}}" id="preview-{{product.images.[0].index}}">

                                                        <img class="set-bg" src="{{product.images.[0].url}}" alt="">
                                                        <div>{{product.images.[0].url}}
                                                            <span>+</span>
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="form-group img-content ">
                                                    <input type="file" class="d-none " id="2" accept=".png, .jpg, .jpeg"
                                                        name="imageupdate" value="">
                                                    <label class="position-relative " for="2" id="preview-2">

                                                        <img class="set-bg" src="https://bit.ly/3ubuq5o" alt="">
                                                        <div>
                                                            <span>+</span>
                                                        </div>
                                                    </label>
                                                </div>
                                                <div class="form-group img-content ">
                                                    <input type="file" class="d-none " id="3" accept=".png, .jpg, .jpeg"
                                                        name="imageupdate" value="">
                                                    <label class="position-relative " for="3" id="preview-3">

                                                        <img class="set-bg" src="https://bit.ly/3ubuq5o" alt="">
                                                        <div>
                                                            <span>+</span>
                                                        </div>
                                                    </label>
                                                </div>

                                            {{/if}}    
                                        {{/if}}
                                        
                                    
                                    {{/if}}






                                </div>

                                {{!--
                            </div> --}}

                        </div>
                        <button type="submit" id="create-submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

</div>

<div class="pb-150">

</div>